<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.tabler.io/1.0/tabler.min.css" rel="stylesheet">
</head>
<body style="color: white;"> <!-- Agregamos el estilo color: white; al cuerpo del documento -->

<div class="page">
  <div class="container">
    <style>
        .card {
          border: 3px solid #511e74;
          border-radius: 12px;
          overflow: hidden;
          background: linear-gradient(to bottom, #a992d4, #3b0796);
          color: white; /* Agregamos color blanco al texto dentro de la tarjeta */
        }
      </style>
      
      
    <div class="row ">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body text-center">
            <div class="avatar avatar-xxl">
              <img src="https://th.bing.com/th/id/R.550f49a459548599a5a4ea1c67fc0244?rik=ji0NKVGInUZxuw&pid=ImgRaw" class="avatar-img rounded-circle" alt="Imagen de Cristian Carreto">
            </div>
            <h4 class="mt-3 mb-1 text-dark">Cristian Carreto</h4>
            <p class="">carreto154@gmail.com</p>
            <p class="">Director de Área Social</p>
            <p class="">Administrador</p>
          </div>
        </div>
      </div>
      <p>
        
        <div class="">
          <!-- Primer Beneficio -->
          <div class="card bg-gradient-to-r from-purple-400 to-purple-600 p-6 rounded-lg shadow-lg">
            <h2 class="text-xl font-semibold mb-4">Registro de Beneficiarios</h2>
            <p>Desarrolla un portal en línea fácil de usar para el registro de beneficiarios.</p>
            <p>Proporciona información clara sobre el propósito del programa, los criterios de elegibilidad y los beneficios ofrecidos.</p>
        </div>
        
          <br>
      
          <!-- Segundo Beneficio -->
          <div class="card bg-gradient-to-r from-purple-400 to-purple-600 p-6 rounded-lg shadow-lg">
            <h2 class="text-xl font-semibold mb-4">Registro de Evidencias de Entrega</h2>
            <p>Implementa un proceso de verificación eficiente para garantizar la elegibilidad.</p>
            <p>Puedes colaborar con instituciones locales para verificar la información proporcionada.</p>
          </div>
          <br>
          <!-- Tercer Beneficio -->
          <div class="card bg-gradient-to-r from-purple-400 to-purple-600 p-6 rounded-lg shadow-lg0">
            <h2 class="text-xl font-semibold mb-4">Historial de Actividades</h2>
            <p>Brinda a los beneficiarios la opción de mantener su historial anónima o compartirla públicamente según su preferencia.</p>
            <p>Crea un historial que registre la participación de cada beneficiario en actividades específicas del programa a lo largo del tiempo.</p>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="row row-cards">
          <!-- Beneficios -->
        </div>
      </div>
    </div>
  </div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
