<div class="row justify-content-center">
    <div class="col-lg-4">
        <div class="card shadow-lg rounded">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 d-flex align-items-center justify-content-center">
                        <i class="ti ti-user-circle text-muted" style="font-size: 100px"></i>
                    </div>
                    <div class="col-lg-6">
                        <div class="ps-2">
                            <h3>{{ dataObject?.nombreCompleto }}</h3>
                            <h4>{{ dataObject?.email }}</h4>
                            <hr style="margin-top: 0; margin-bottom: 5px; border: 0; border-top: 1px solid #000;">
                            <h4>{{ dataObject?.rol }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<hr>

<div class="row">
    <!-- Primer Beneficio -->
    <div class="col-lg-4">
        <div class="card bg-gradient-to-r from-purple-400 to-purple-600 p-6 rounded-lg shadow-lg h-100 d-flex flex-column">
            <h2 class="text-xl font-semibold mb-4">Registro de Beneficiarios</h2>
            <p>Desarrolla un portal en línea fácil de usar para el registro de beneficiarios.</p>
            <p>Proporciona información clara sobre el propósito del programa, los criterios de elegibilidad y los beneficios ofrecidos.</p>
        </div>
    </div>

    <!-- Segundo Beneficio -->
    <div class="col-lg-4">
        <div class="card bg-gradient-to-r from-purple-400 to-purple-600 p-6 rounded-lg shadow-lg h-100 d-flex flex-column">
            <h2 class="text-xl font-semibold mb-4">Registro de Evidencias de Entrega</h2>
            <p>Implementa un proceso de verificación eficiente para garantizar la elegibilidad.</p>
            <p>Puedes colaborar con instituciones locales para verificar la información proporcionada.</p>
        </div>
    </div>

    <!-- Tercer Beneficio -->
    <div class="col-lg-4">
        <div class="card bg-gradient-to-r from-purple-400 to-purple-600 p-6 rounded-lg shadow-lg h-100 d-flex flex-column">
            <h2 class="text-xl font-semibold mb-4">Historial de Actividades</h2>
            <p>Brinda a los beneficiarios la opción de mantener su historial anónima o compartirla públicamente según su preferencia.</p>
            <p>Crea un historial que registre la participación de cada beneficiario en actividades específicas del programa a lo largo del tiempo.</p>
        </div>
    </div>
</div>