.custom-green-switch input {
  background-color: #1db83f;
}

.custom-green-switch input:checked {
  background-color: #1db83f;
}

.error-message {
  color: #e53e3e;
  font-size: 0.875rem;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-icon {
  margin-right: 10px;
}